<% provide(:title, "About") %>
<h1>About</h1>

<div class="box">
  <%= link_to image_tag("rails-1.jpg", alt: "kevin") %>
  
  <p>
  &emsp;&emsp;&emsp;I am currently in my sophomore year at Grinnell College pursuing Computer Science and Statistics.
I have a keen interst in the field of technology and design. 
I am currently pursuing this interest by working on projects that combine these areas. 
<br/><br/>
##Technical Skill Showcase
<br/><br/>
&emsp;&emsp;&emsp;This is a dynamic, database-backed web app that is developed using Ruby on Rail framework, strictly folllowing MVC design pattern. My development skills include unit testing, partials on the view, modeling database, etc. The development proces started with Behavioral Driven Development (BDD) and then mostly followed Testing Driven Development (TDD). It has a sign-up page to store properly formated input and returns error message if user provides invaid input.
  </p>
</div>
<a href="https://www.kimdream.com"><em> Contact me</em>
</a>
to know more about me.