<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  To get help from me, respect my photos and 
  <a href="https://www.kimdream.com"><em> contact me</em>
  </a>.
  <img id="kevKev" src="<%= asset_path('rails-1.jpg') %>" >
</p>