<% provide(:title, "Help") %>
<h1>Help</h1>

  
</p>
<div class="box">
  <%= link_to image_tag("rails-1.jpg", alt: "kevin") %>
  <p>
  &emsp;&emsp;&emsp;To get help from me, respect my photos and 
  <a href="https://www.kimdream.com"><em> contact me</em>
  </a>.
  I am always ready to help you if you want to learn more about this website. 
  Help page usually contains the most commonly sought questions. 
  But, I don't think that will be helpful.
  <br/><br/>
  &emsp;&emsp;&emsp;For simple questions, just contact me directly. There is me everwhere in this page.
  Think about what I wish I can do for me. If there is a problem with an article about myself or if I spot
  a problem with an image of myself, I will make sure I improve on it. But, remember to appreciate this website since this is probably Kevin.
  </p>
</div>