<div class="center jumbotron">
  <h1>Welcome</h1>

  <h2>
    This is where you can remind who you are and what you are feeling.
  </h2>
  <p><%=message(@random)%></p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  '#', class: "btn btn-lg btn-primary" %>

</div>
<img id="kevKev" src="<%= asset_path('rails-1.jpg') %>" >
