@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#custom{
    float: right;
    margin-right: 10px;
    font-size: 16px;
    color: black;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 15px;
    font-weight: 500;    
    &:hover {
      white-space: nowrap;
      color:#34495e;
      text-decoration: none;
      -webkit-transition: 0.2s ease;
      transition: 0.2s ease;

    }
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: 700;
  &:hover {
    color:#34495e;
    text-decoration: none;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    white-space: nowrap;

  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
/* Modify brand and text color */ 
.navbar-inverse{
    background: #fff;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.11);
    border-bottom: 3px solid transparent;

}

.img-wrap {
    position:relative;
  }
  .img-wrap .img-overlay {
    position: absolute;
    z-index:2;
    top: 10px;
    right: 10px;
  }